body{
    background-color: rgb(24, 25, 26);
    font-family: 'Righteous', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(242, 54, 52);
    border-radius: 5px;
}

.naVEVAR{
    background-color: rgb(36, 37, 38);
    height: 80px;
    text-align: center;
    float: left;
}

.naVEVAR h1{
    padding-left: 200px;
    margin: 50px;
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: center;
}
.close{
    size: 80px;
    padding-left: 50px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(36, 37, 38);
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: black 0px 80px 30px;
    float: top;
    
}

.sidebar::-webkit-scrollbar{
    width: 9px;
}

.sidebar::-webkit-scrollbar-thumb{
    background-color: rgb(242, 54, 52);
    border-radius: 100px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    padding-top: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
}

.sidebar a.active {
    background-color: rgb(242, 54, 52);
    color: white;
}
  

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.Usuarios{
    background-color: rgb(36, 37, 38);
    height: auto+50px;
    width: 600px;
    position: relative;
    top: 70px;
    left: 300px;
    border-radius: 5%;
    margin-right: 50px;
    margin-bottom: 50px;
    box-shadow: black 0px 0px 30px;
}

.Usuarios h2 {
    color: rgb(242, 54, 52);
    padding-left: 15px;
    font-size: 45px;
    text-align: center;
}

.Eselcet{
    width: 25%;
    height: auto;
    margin: 20px;
    margin-top: 0%;
    float: left;
   
}
.Usuarios h4{
    font-size: 30px;
    color: rgb(242, 54, 52);
    text-align: center;
}

.Nombre{
    width: 60%;
    left: 120px;
    position: relative;
    margin: 20px;
}

button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(242, 54, 52);
    margin: 20px;
}

.Usuarios ::placeholder{
    color: #555;
}

input{
    text-align: center;
    color: white;
}

.page-footerS{
    padding-left: 50px;
    margin-top: 170px;
    background-color: rgb(242, 54, 52);

}

.wrapper a{
    margin-left: 20px;
    size: 20px;
    color: white;
}

.wrapper i{
    margin: 20px;
}

.footer-copyright{
    color: white;
    margin-bottom: 10px;
}